doctype html
html
    head
        title 后台管理页面
        meta(http-equiv='Content-type',content="text/html;charset=utf-8")  
        link(href="/public/style/bootstrap.min.css",rel="stylesheet")
        link(href="/public/style/admin/users.css",rel="stylesheet")
        script(type="text/javascript",src="/public/js/jquery.js")
        script(type="text/javascript",src="/public/js/bootstrap.min.js")
    body
        div(class="page-header")
                h1 后台管理页面
                    small 管理分类、文章、评论、用户等等
            nav(class="navbar navbar-default")
                div(class="container-fluid")
                    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                        ul(class="nav navbar-nav")
                            li
                                a(href="#") 分类管理
                            li 
                                a(href="/admin/category") 文章管理
                            li(class="active")
                                a(href="/admin/users") 用户管理   
        div(class="panel panel-default")
            div(class="panel-body")
                p 这里可以查看、编辑用户名单
            //-显示用户列表   
            - let page_user_num=4
            - let page_num=Math.ceil(users.length/page_user_num) 
            - let users_show=users.slice((page_index-1)*page_user_num,page_index*page_user_num)
            table(class="table")
                tr 
                    th 用户名
                    th 密码
                    th 是否是管理员  
                    th            
                each item in users_show
                    tr
                        td(class='text accountShow')=item.account
                        td(class='textEdit account')
                            input(value=item.account) 
                        td(class='text')=item.password
                        td(class='textEdit password')
                            input(value=item.password) 
                        td(class='text')=item.isAdmin.toString()
                        td(class='textEdit isAdmin')
                            div(class='isAdminText' style="display:inline")= item.isAdmin.toString()
                            div(class='btn-group')
                                button(class="btn btn-default btn-xs dropdown-toggle btnDropMenu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    span.caret
                                ul.dropdown-menu
                                    li  
                                        a(class='dropMenu')=item.isAdmin.toString()
                                    li
                                        a(class='dropMenu')=(!item.isAdmin).toString()
                        td(class='text')
                            img(src='/public/img/edit.png' alt='edit' title='编辑' class='edit')
                            | 
                            img(src='/public/img/delete.png' title='删除' alt='delete' class='delete')
                        td(class='textEdit')
                            img(src='/public/img/save.png' alt='save' title='保存' class='save' )  
            //- 显示页码
            nav(aria-label="Page navigation")
                ul(class="pagination")
                    -let pre=(parseInt(page_index)-1).toString()
                    -let next=(parseInt(page_index)+1).toString()
                    - if(page_index>1)  
                        li
                            a(href="?page="+pre aria-label="Previous")
                                span(aria-hidden="true")&laquo; 
                    - for (let i=1;i<=page_num;i++)              
                        li
                            a(href="/admin/users/?page="+i)= i
                    - if(page_index<page_num)        
                        li
                            a(href="?page="+next aria-label="Next")
                                span(aria-hidden="true")&raquo;   
            div.back
                a(href='/') 
                    | 返回首页 
        div(class='panel panel-default addUser')  
            div.panel-heading 添加用户
            div.panel-body
                div(class='input-group')  
                    span.input-group-addon  账号 
                    input(type="text" class="form-control lzl" placeholder="Username" aria-describedby="basic-addon1" ) 
                div(class='input-group') 
                    span.input-group-addon  密码
                    input(type="text" class="form-control lzl" placeholder="password" aria-describedby="basic-addon1")    
                div(class='input-group')
                    span.input-group-addon  是否是管理员
                    div(style="display:inline")  
                    | &nbsp&nbsp&nbsp
                    div(class='isAdminText' style="display:inline") false
                    div(class='btn-group')
                        button(class="btn btn-default btn-xs dropdown-toggle btnDropMenu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            span.caret
                        ul.dropdown-menu
                            li  
                                a(class='dropMenu') false
                            li
                                a(class='dropMenu') true   
        script(type="text/javascript",src="/public/js/admin/users.js")