doctype html
html
    head
        title 我的博客
        meta(http-equiv='Content-type',content="text/html;charset=utf-8")
        link(type="text/css",rel="stylesheet",href="/public/style/index1.css")  
        link(href="/public/style/bootstrap.min.css",rel="stylesheet")  
        script(type="text/javascript",src="/public/js/jquery.js")
        script(type="text/javascript",src="/public/js/bootstrap.min.js")        
    body
        div
            div(class='top')
                img(src='/public/img/backgroundPic.png')
                //- img(src='/public/img/桃谷绘里香1.jpg' alt='桃谷绘里香1')
                //- img(src='/public/img/桃谷绘里香2.jpg' alt='桃谷绘里香2')
                //- img(src='/public/img/桃谷绘里香3.jpg' alt='桃谷绘里香3')
                //- img(src='/public/img/桃谷绘里香4.jpg' alt='桃谷绘里香4')
            div(class='head')
                div
                    div.category
                        a 首页
                    - let category=[{nameCategory:'javascript'},{nameCategory:'vue'},{nameCategory:'nodejs'}]
                    -let article=[{title:'第一篇文字',author:'lzl123',date: new Date(),content:'lalalal'},{title:'第2篇文字',author:'lzl123',date: new Date(),content:'lalalal'},{title:'第3篇文字',author:'lzl123',date: new Date(),content:'lalalal'}]
                    - for(let i=0;i<category.length;i++)    
                        div.category
                            a=category[i].nameCategory
            div.body
                div.leftPanel
                    -for(let i=0;i<article.length;i++)  
                        div(class='left articleDiv')
                            div(class='titleArticle')
                                h1=article[i].title
                            div(class='infoArticle')
                                span.author 作者:&nbsp
                                    a #{article[i].author}
                                    | &nbsp&nbsp&nbsp
                                span.date 发布时间:&nbsp#{article[i].date.getFullYear()}.#{article[i].date.getMonth()}.#{article[i].date.getDate()}&nbsp
                            div(class='bodyArticle')=article[i].content

                div.rightPanel
                    -if(!username)
                        div(class='right signin')
                            div
                                div.page-header
                                    div
                                        h3 登录
                                div(class='input-group account')
                                    span(class="input-group-addon" id="basic-addon1") 账号
                                    input(type="text" class="form-control signin" placeholder="账号" aria-describedby="basic-addon1")
                                div(class='input-group password')
                                    span(class="input-group-addon" id="basic-addon1") 密码
                                    input(type="password" class="form-control signin" aria-describedby="basic-addon1")
                                div.button
                                    button.signin 登录
                                div.toRegister
                                    | 还没注册?
                                    a 马上注册
                    -else
                        div(class='right userInfoShow')
                            div
                                div.page-header
                                    div
                                        h3 用户信息
                                div.userInfo
                                    span=username 
                                    p 你好，欢迎来到我的博客
                                    -if(isAdmin)
                                        a(href='/admin') 进入后台管理界面 
                                div.logout
                                    button 退出登录
                    div(class='right register')   
                        div     
                            div.page-header
                                div
                                    h3 注册
                            div(class='input-group')
                                span(class="input-group-addon" id="basic-addon1") 账号
                                input(type="text" class="form-control register account" placeholder="账号" aria-describedby="basic-addon1")
                            div(class='input-group')
                                span(class="input-group-addon" id="basic-addon1") 密码
                                input(type="password" class="form-control register password"  aria-describedby="basic-addon1")
                            div(class='input-group ')
                                span(class="input-group-addon" id="basic-addon1") 确认密码
                                input(type="password" class="form-control register passwordAgain" aria-describedby="basic-addon1")
                            div.button
                                button.register 注册
                            div.toSignin
                                | 已经注册?
                                a 马上登录                       
                    div.right llalalala
        script(type="text/javascript",src="/public/js/index1.js")
        
            